.modal
	display: none
	top: 0
	position: fixed
	height: 100vh
	width: 100vw
	background: rgba(0,0,0,.55)
	justify-content: center
	align-items: center
	box-shadow: 0 4px 8px rgba(0,0,0,.32),0 8px 40px rgba(0,0,0,.4)
	color: #34495e
	.modal-dialog
		width: 500px
	
	
	&.fadeIn 
		animation: opac 0.8s
	&.opened
		display: flex

	.btn-strong
		width: 100%
		margin: 0
		margin-top: 20px

#videoModal	
	.modal-body
		padding: 0
	.modal-dialog
		width: 600px
		max-width: 600px

@keyframes opac
	from
		opacity: 0
	to
		opacity: 1


