#ally    
    background-color: #e7e7e7    
    padding-top: 100px
    color: $brand-secondary

    h1
        margin-top: 10vh
        text-align: center
        
    
    .subtitle
        margin-bottom: 10px
        margin-top: 80px

    .ally
        margin-bottom: 20vh
        .col-md-5
            display: flex
            justify-content: center
            align-items: center
        img            
            height: auto
            width:  180px            
            padding: 10px
        

    .fixed-navbar
            background-color: $brand-secondary
    
    header
        background-image: none

    .phrase
        color: white
        background:
            image: url("https://www.opentable.com/about/images/heros/hero-about.jpg")            
            size: cover
            position: center
        padding: 60px

    .office img
        width: 180px
        height: 180px
        border-radius: 100px
    
    .member-team
        width: auto
        height: 300px 
        background: 
            size: cover
            position: center
            filter: grayscale(100%) 
        -webkit-filter: grayscale(100%) 
        -moz-filter: grayscale(100%)
        -ms-filter: grayscale(100%) 
        -o-filter: grayscale(100%) 
        filter: url(resources.svg#desaturate) 
        filter: gray /* IE */
        -webkit-filter: grayscale(1) 
    
    h5
        margin-top: 10px
        font-weight: 600
        
    small, .small 
        font-size: 70%
        font-weight: 200
    
    footer
        h3
            color: white
    .contacs p
        font-size: 17px;